body, html {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    
  }
  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  .background-video video {
    min-width: 90%;
    min-height: 90%;
    object-fit: cover;
  }
  
  .signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gill sans;
    padding: 1px;
    border-radius: 20px;
    text-align: center;
    background-color: (0, 0, 0, 0.1);
   
    box-shadow: 10px 10px 8px #5152449d;
    
    
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    
  }
  
  .signup-form input {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dbc6c6;
    background-color: (0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 8px #5152449d;
  }
  
  .signup-form button {
    width: 40%;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: rgb(12, 1, 1);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #45a049;
  }